In [57]:
#Задание 1
import pandas as pd
data_rating = pd.read_csv('ratings.csv')
data_movie = pd.read_csv('movies.csv')
id_max_rate = data_rating[data_rating['rating'] == 5]['movieId'].value_counts().head(1).keys().tolist()[0]
title_max_rate = data_movie[data_movie['movieId'] == id_max_rate]['title'].tolist()[0]
print('Фильм с максимальным количеством оценок 5: ', title_max_rate)
country 
year
quantity
category
Latvia
Lithuania
Estonia

Фильм с максимальным количеством оценок 5:  Shawshank Redemption, The (1994)

In [111]:
#Задание 2
dp = pd.read_csv('power.csv')
dp[((dp['country'].str.contains('Estonia', case=False)) | (dp['country'].str.contains('Lithuania', case=False)) | (dp['country'].str.contains('Latvia', case=False))) & ((dp['category'] == 4) | (dp['category'] == 12) | (dp['category'] == 21)) & ((dp['year'] >= 2005) & (dp['year'] <= 2010)) & (data_power['quantity'] >= 0)]['quantity'].sum()

240580.0

In [119]:
#Задание 3
page_url = 'https://finance.yahoo.com/quote/SPY?p=SPY&.tsrc=fin-srch'
pd.read_html(page_url)[1]

                        0           1
0              Net Assets     307.85B
1                     NAV      333.93
2          PE Ratio (TTM)         NaN
3                   Yield       1.75%
4  YTD Daily Total Return       3.69%
5       Beta (5Y Monthly)        1.00
6     Expense Ratio (net)       0.09%
7          Inception Date  1993-01-22